<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Write your name, age, and a message!</h1>


<br>

<!-- Create your form here!
 -->
 <form action="/login_session.py" method="POST">

 <input type="text" name="firstname" placeholder="author name "> <br>
 <input type="text" name="firstname" placeholder="quote"> <br>
 <input type="text" name="firstname" placeholder="author age"><br>
 <input type="submit" value="Submit"><br>

</form>
</body>
</html>